@import "_variables.scss";

body {  
    min-width:320px; 
    color: $grey;
    font: normal 100% $font;   /*default 16px for most browsers*/
}
div {
    box-sizing: border-box;
}

.float-left {
    float: left;
}
a {
    background-color: transparent;
}

a:link, a:focus, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 

h1 {
  font-size: 1.5em;  /* 24px/16px = 1.5 */  
  font-weight: normal;
}

