@import "_media-query-mixin.scss";
@import "_variables.scss";
.footer-container {
    .foot-item {
        float: left;
        display: block;
        min-height: 1px;
        vertical-align: text-top;
        padding: 0 1em;
        width: 100%;
    }
    .footer-item-title {
        font-size: 0.9em;
        line-height: 0.9em;
        word-break: break-word;
    }

    .item-title .footer-link {
        word-break: break-word;
    }

    ul {
        list-style-type: none;
    }

    ul.footer-list {
        font-size: 0.75em;
        line-height: 1em;
        margin-top: 0;
        padding-left: 0;
        list-style-type: none;
    }
}



@include get-m-query(medium) {
  
    .footer-container {
        .footer-items::after {
            content: "";
            clear: both;
            display: table;
        }
    
    .foot-item {
        width: 33.33333%;
        font-size: 1em;
        line-height: 1.25em;
    }
    }
}

@include get-m-query(large) {
 
    .footer-items::after {
        content: "";
        clear: both;
        display: none !important; /*rewrite*/
    }


.footer-container {
    .foot-item {
        width: 16.6666666667%;
        font-size: 1em;
        line-height: 1.25em;
    }
}

}
