@import "_media-query-mixin.scss";

.foot-item {
    display: block;
    float: left;
    min-height: 1px;
    vertical-align: text-top;
    padding: 0 12px;
    width: 100%;
    zoom: 1;
}

.footer-container .footer-item-title {
    font-size: 15px;
    line-height: 20px;
    color: #616161;
    word-break: break-word;
}

.footer-container .item-title .footer-link {
    color: #616161;
    word-break: break-word;
}

.footer-container ul {
    list-style-type: none;
}

.footer-container ul.footer-list {
    font-size: 11px;
    line-height: 16px;
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
}

 @include get-m-query(medium) {
    .foot-item {
        width: 33.33333%;
    }
}

@include get-m-query(large) {

    .foot-item {
        width: 16.6666666667%;
    }
}
