@import "_common.scss";

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .action-container {
        order: 1;
        flex-basis: 10%;
        justify-content: flex-start;
        @extend .header-sub-container;

        div {
            margin: 0 5px;
        }
    }

    .logo-container {
        order: 2;
        flex-basis: 80%;
        @extend .header-sub-container;

        a {
            display: block;
        }
    }

    .menu-btn-container {
        order: 3;
        flex-basis: 10%;
        display: flex;
        align-items: center;
        flex-basis: 0;
    }

    .menu-container {
        width: 100%;
        position: absolute;
        top: 4em;
        left: 0;
        @extend .header-sub-container;
        justify-content: center;

        .menu-items {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
        }

        .menu-items.is-visible {
            visibility: visible;
        }

        .menu-item {
            padding: 5px;
            margin: 0 5px 0 5px;
            text-align: center;
        }
    }
}

.logo-image {
    max-width: 100%;
    width: 7em;
}

.header-sub-container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.header-container {
    position: relative;
    height: 4em;
    padding: 10px;
    width: 100%;
    @extend .clearfix::after;
    display: flex;
    min-width: 320px;
}

@media only screen and (min-width:40.063em) {
    .menu-btn-container {
        display: none;
    }

    .navigation-container {

        .logo-container {
            flex-basis: 20%;
            order: 1;
        }

        .menu-container {
            order: 2;
            flex-basis: 60%;
            position: static;

            .menu-items {
                position: static;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }

        .action-container {
            flex-basis: 20%;
            order: 3;
            justify-content: flex-end;
        }

        .menu-btn-container {
            display: none;
        }
    }
}
