@import "_variables.scss";

.carusel {
    img {
        max-width: 100%;
    }
    margin-bottom: 3em;  
    
    .item-1-1 {       
        margin-bottom: 1em;
    }

    .item-2-1 {       
        margin: 0 1em;
    }
    .info-card {
        width: 100%; 
        margin-bottom: 1em;
        .item-link {
            margin-top: 5px;
            margin-left: 1em;
            cursor: pointer;
        }
    }

    @include get-m-query(medium) {
        display: grid;
        grid-row-gap: 3em;
        margin: 0 auto;
        
        .item-1-1 {       
        margin-bottom: auto;
    }

        .item-2-1 {
             display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;
            margin: 0 1em;
        }

        .info-card {
            width: 100%;
            margin-bottom: 0;
            display: grid;
            grid-template-rows: 70% 30%;

        }
    }

    @include get-m-query(large) {
        width: $width-large;

        .item-2-1 {
            grid-template-columns: repeat(4, 1fr);

        }
    }
}
