@import "_variables.scss";

.carusel {

    .item-2-1 {
        display: grid;
    }

    .info-card {
        width: 14em;
        height: 14em;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 70% 30%;

        img {
            max-width: 100%;
        }

        .item-link {
            margin-left: 1em;
            cursor: pointer;
        }
    }

    @include get-m-query(medium) {
        .item-2-1 {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    @include get-m-query(large) {
        margin: 0 auto;
        width: 60em;
        display: grid;

        .large-image {
            max-width: 100%;
        }

        .item-1-1 {
        }

        .item-2-1 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
